.questionbox {
    width:900px;
    height: 300px;
    background-color: white;
    margin: 20px auto 0 auto;
    padding: 15px;
}
.quetitle {
    text-align:center;
}
.queline {
    display: flex;
    align-items: center;
}
.loadingdata {
    display: flex !important;
    justify-content: center;    
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}