.questionbox {
    width:900px;
    height: 500px;
    background-color: white;
    margin: 20px auto 0 auto;
    padding: 15px;
}
.quetitle {
    text-align:center;
}
.queline {
    display: flex;
    align-items: center;
}